NODE_ENV=development
PORT=3333
HOST=0.0.0.0
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gamemirror"
JWT_ACCESS_SECRET="super-secret-access"
JWT_REFRESH_SECRET="super-secret-refresh"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
CORS_ORIGIN="*"

HOST_AGENT_URL="http://localhost:7878"
